<template name='semiFinals'>
	<section id="semiFinals">
	  <div>
	    <select name="A1B4">
	      <option disabled selected>Winner A1B4</option>
	      {{> teamsList}}
	    </select>
	  </div>
	  <div>
	    <select name="A3B2">
	      <option disabled selected>Winner A3B2</option>
	      {{> teamsList}}
	    </select>
	  </div>
	  <div>
	    <select name="A2B3">
	      <option disabled selected>Winner A2B3</option>
	      {{> teamsList}}
	    </select>
	  </div>
	  <div>
	    <select name="A4B1">
	      <option disabled selected>Winner A4B1</option>
	      {{> teamsList}}
	    </select>
	  </div>
	</section>
</template>